.songbanner{
    margin-left: -44px;
    margin-top: 7px;
}
.container{
    margin: 15px;
}
.songlist h1{
    margin-bottom: 31px;
    margin-left: 7px;
}
.songlist1{

}

#myprogressbar{
    margin-left: 0px;
}
.icons i{

}
i#previous {
    margin-left: -195px;
}
.icons img{
    margin-left: -265px;
}

